/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font-family: "proxima-nova", sans-serif;
    background-color: #F4511E;
    color: #fff;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.modal {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    /* 100 of height, minus divs padding to prevent scrolling */
    background-color: #4A148C;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 950;
    background-color: rgba(20,20,0, 0.4);
}
.homePosition {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

.mainTitle {
    font-size: 27px;
    font-weight: 100;
    color: #ffffff;
    margin-bottom: 10px;
    padding: 0 0 10px 0;
}

.mainDescription {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    line-height: 30px;
}



.titleButtonPosition {
    width: 200px;
    height: 50px;
    margin-top: 20px;
}

.buttonStyle {
    display: block;
    clear: both;
    font-size: 19px;
    font-weight: 100;
    color: #ffffff;
    text-align: center;
    background-color: #8E24AA;
    border-radius: 3px;
    border: none;
}

.buttonStyle:hover {
    background: #A23DBD;
}

.dropShadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.scale {
    z-index: 900;
    background-color: #4A148C;
    height: 90px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}
.scale > p {
    position: absolute;
    top: -5px;
}
#gradScale {
    position: absolute;
    top: 40px;
    /*    position: fixed;*/
    width: calc(100% - 70px);
    height: 20px;
    background: red;
    /* For browsers that do not support gradients */
    background: -prefix-linear-gradient(left, hsl(14, 100%, 81%), #f53900, hsl(14, 100%, 23%));
    background: linear-gradient(to right, hsl(14, 100%, 81%), #f53900, hsl(14, 100%, 23%));
}

.scaleLine {
    width: 2px;
    height: 40px;
    overflow: visible;
    background-color: #fff;
}


#gradScale .scaleLine:nth-child(1) {
    float: left;
}

#gradScale .scaleLine:nth-child(2) {
    float: right;
}

#gradScale .scaleLine:nth-child(3) {
    margin-left: auto;
    margin-right: auto;
}

.scaleLine > p {
    position: absolute;
    top: 5px;
    margin-left: 4px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 840px) {
    /* ====================
    DESKTOP
   ==================== */
.modal {
    z-index: 1000;
    position: fixed;
    width: 440px;
    height: 340px;
    overflow: hidden;
    bottom: 20px;
    left: 20px;
}

    .scale {
    width: 400px;
    bottom: 20px;
    left: auto;
    top: auto;
    right: 20px;

    }

    .tmButton {

    }
    .suburbMainInfo {
        width: calc(50% - 4px) !important;
        box-sizing: border-box;
        float: left !;
        clear: none;
        overflow: hidden;
        display: inline-block !important;
    }
}
































.suburbMainInfo {
    clear: both;
    width: 100%;
    height: 90px;
    border: 2px solid #E1BEE7;
    border-radius: 5px;
    padding: 10px 15px;
    box-sizing: border-box;
    margin: 0px 0 10px 0;
}

.suburbMainInfo img {
    float: left;
    padding-right: 25px;
}

.suburbMainInfo div:nth-child(2) {
    color: #B2FF59;
    font-size: 36px;
    font-weight: lighter;
}

.suburbMainInfo div:nth-child(3) {
    color: #fff;
    font-size: 14px;
    font-weight: lighter;
    font-weight: 100;
}
.mobileView .tmData:nth-child(1) {
    /* not working atm. To be padding between the columns */
}

.availableListing {
    float: left;
    width: 100%;
    height: 70px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 15px 15px;
    box-sizing: border-box;
    margin: 5px 0;
}
.listingButton {
    width: 100%;
    height: 50px;
    margin-top: 20px;
}
.tmButton {
    width: 100%;
    height: 55px;
}
.closeBtn {
    position: absolute;
    top: auto;
    right: 20px;;
    width: 75px;
    height: 40px;
}
